@model PoliSchool.Web.Models.OnlineCourseListModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h3>Curso Presencial</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Codigo de curso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            Direccion URL
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CourseId  }) |
    <a asp-action="Index">Regresar</a>
</div>
